<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!--
<div class="bar bar-header bar-assertive">
  <div id="tabs-header">
  </div>
</div>
-->
<div> </div>
<!--<ion-tabs class="">-->


  <!--&lt;!&ndash; Projects Tab &ndash;&gt;-->
  <!--<ion-tab  title="{{ tab1title}}" href="#/tab/projects" badge="badges.projects" badge-style="badge-assertive">-->

  <!--</ion-tab>-->


  <!--&lt;!&ndash; Jobs Tab &ndash;&gt;-->
  <!--<ion-tab  title="{{ tab2title }}" href="#/tab/jobs">-->

  <!--</ion-tab>-->

  <!--&lt;!&ndash; Chats Tab &ndash;&gt;-->
  <!--<ion-tab title="{{tab3title  }}" href="#/tab/chats">-->

  <!--</ion-tab>-->

  <!--&lt;!&ndash; Users Tab &ndash;&gt;-->
  <!--<ion-tab  title="{{ tab4title }}" href="#/tab/users">-->

  <!--</ion-tab>-->

  <!--&lt;!&ndash; Settings Tab &ndash;&gt;-->
<!--&lt;!&ndash;-->
  <!--<ion-tab  title="{{ 'tab5-title' | translate }}" href="#/tab/settings">-->
    <!--<ion-nav-view name="tab-settings"></ion-nav-view>-->
  <!--</ion-tab>-->
<!--&ndash;&gt;-->
<!--</ion-tabs>-->
